hipchat_api_token: '<token>'
hipchat_room: "<room name or id>"
notify: 0
from: "GitLab"
# define one of these to include URLs
gitlab_url: 'https://my-gitlab-url.com'  # Must use "pretty" paths
message_format: "git-log"
# proxy_address: "1.2.3.4"
# proxy_port: 83
